@import "../../../styles/utils/variables";
@import "../../../styles/utils/mixins";

.dropdown {
  position: relative;
}

.dropdown_btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: getColor("navigation");
  font-weight: 500;
}

.content {
  background-color: getColor("background");
  border-radius: 5px;
  color: getColor("navigation");
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
}

.content_item {
  padding: 10px;
  cursor: pointer;
  transition: background 300ms;

  [data-theme="dark"] &:hover {
    background: getColor("primary");
  }
}
