@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.layout {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.header_title {
  font-size: 2rem;
  color: getColor("label");
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
