// Default Theme
$colors: (
  primary: #925ff0,
  navigation: #6f7181,
  text: #e0e0e0,
  text_black: #1e1e2d,
  background: #fafafa,
);

// Dark Theme
$colors-dark: (
  primary: #925ff0,
  navigation: #fafafa,
  text: white,
  background: #212121,
);

$xs: 23.5em; // 376px @media (max-width: $xs) {}

$sm: 36em; // (min-width: 576px)
$md: 48em; // (min-768pxwidth: 768px)
$lg: 62em; // (min-width: 992px)
$gl: 64em; //! gap `lg - xl` (min-width: 1024px)
$xl: 75em; // (min-width: 1200px)

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);
