@import "../../styles/utils/variables";
@import "../../styles/utils/mixins";

.container {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    justify-content: baseline;
  }
}

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;

  @include mq(md) {
    width: 70%;
    overflow-y: hidden;
  }
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  @include mq(md) {
    width: 100%;
  }
}

.product_info_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @include mq(md) {
    width: 300px;
  }
}

.product_image {
  width: 100px;
  height: 100px;

  @include mq(md) {
    width: 130px;
    height: 130px;
  }
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.product_brand {
  font-size: 14px;
  font-weight: bold;
  color: getColor("label");
}

.product_title {
  font-size: 16px;
  color: getColor("label");
}

.product_price {
  text-align: center;
  font-size: 15px;
  color: getColor("primary");
  font-weight: bold;
}

.quantity {
  display: flex;
  flex-direction: row;
}

.quantity_button {
  background-color: transparent;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 28px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  color: getColor("primary");
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.quantity_input {
  border: 1px solid getColor("input");
  border-right-width: 0;
  border-left-width: 0;
  color: #111;
  font-size: 14px;
  line-height: 1.5;
  width: 35px;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}

.quantity_button:hover {
  background-color: getColor("primary");
  color: #fff;
}

.quantity_button:active {
  background-color: getColor("primary");
  color: #fff;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
