@import "../../../styles/utils/variables";
@import "../../../styles/utils/mixins";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: center;

  @include mq(md) {
    justify-content: baseline;
    margin-left: 20px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
