// Converting scss variable into css variable

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}

[data-theme="dark"] {
  @each $name, $color in $colors-dark {
    --color-#{$name}: #{$color};
  }
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: getColor("background");
  color: getColor("text");
  transition: all 300ms;
}

.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;

  @include mq(lg) {
    padding-left: 54px;
    padding-right: 54px;
  }
}

.react-confirm-alert-overlay {
  background: rgba(255, 255, 255, 0.6) !important;
}
